
/* Body */

body {
    background-color: whitesmoke;
}

/* Navbar */
.node_green {
    color: hsl(120, 58%, 67%);
}

/* Recipe Home */

.under_the_nav {
    padding-top: 80px;
}

/* Recipe Details here */
.back-btn {
    margin-right: 25px;
}